body {
	font-family: "Nanum Gothic", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	background-image: url(https://source.unsplash.com/1600x900/?nature);
	background-size: cover;
}
#navbar .navbar-header .navbar-brand {
	font-weight: bold;
	color: #fff;
}

/* 시계 */
#clock {
	color: #FFF;
	text-align: center;
	display: none;
	padding: 1vw 2vw;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.5);
}
#clock #time {
	font-size: 1.2em;
	margin-top: 0;
}
#clock #time .colon {
	font-style: normal;
	padding: 0 0.4rem;
}
#clock #noon {
	font-size: 0.5em;
}

/* 켈린더 */
#calendar-modal #cal-title {
	font-size: 1.5em;
	padding-left: 1rem;
	padding-right: 1rem;
}
#cal-table th {
	text-align: center;
	border: 1px solid rgba(0,0,0,0.25);
}
#cal-table td {
	font-size: 12px;
	width: 8rem;
	height: 8rem;
	border: 1px solid rgba(0,0,0,0.25);
}
#cal-table td .solar {
	font-weight: 800;
}
#cal-table td .lunar {
	color: #999;
	float: right;
}
#cal-table th:nth-child(1), 
#cal-table td:nth-child(1) .solar {
	color: #FF0000;
}
#cal-table th:nth-child(7), 
#cal-table td:nth-child(7) .solar {
	color: #0054FF;
}
#cal-table td.holiday .solar,
#cal-table td ul li.holiday {
	color: #FF0000;
}
#footer {
	font-weight: bolder;
	text-align: center;
	color: #fff;
	padding: 2rem;
}

@media (max-width: 440px){
	#clock #time {
		font-size: xx-large;
	}
	#clock #time span.colon {
		vertical-align: middle;
		padding: 0 0.5vw;
	}
	#clock #noon, #clock p {
		font-size: medium;
	}
	#calendar-modal .modal-body {
		padding: 0;
	}
	#cal-table td {
		height: 5rem;
		padding: 0;
	}
	#cal-table td .lunar {
		display: none;
	}
	#cal-table td ul {
		font-size: 0.8em;
	}
}
